---
---

@import "{{ site.theme }}";

.wrapper {
  width:58%;
  margin:0 auto;
}

section {
  width:65%;
  float:right;
  padding-bottom:50px;
}

h1 {
  font-size:26px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}